.card{
    height: 8rem;
    width: 8rem;
    margin: 0.5rem 0.25rem;
    border: 2px solid #e7e5e5;
    color: #464343;
    border-radius: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
p{
    padding: 0;
    margin: 0;
}
.card:hover{
    border-color: rgb(255,105,6);
    cursor: pointer;
}

.icon-container{
    background-color: rgb(177, 177, 177);
}